.edit-text {
  width: 600px;
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
  text-align: left;
  background-color: white;
}

.custom-file {
  position: relative;
  margin-left: 52px;
}

.custom-file input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.description-edit-text {
  width: 50%;
  height: 150px;
  width: 600px;
  border-radius: 5px;
  background-color: white;
  padding: 0.5em;
  text-align: left;
  vertical-align: top;
  border: 1px solid lightgray;
  resize: none;
}
